body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom, #f5deb3, #d3d3d3 50%, white 100%);
    background-size: 200% 200%;
    animation: gradientMove 5s infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
}

.card {
    position: relative;
    background-color: white;
    width: 350px;
    height: 370px;
    padding: 30px;
    border-radius: 15px; /* Increased border-radius for more rounded edges */
    border: 1px solid #000000; /* Thin outline */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 5px;
}

p {
    margin: 8px 0; /* Reduced gap */
    color: #555;
}

.line {
    position: absolute;
    bottom: 25%;
    left: 40px;
    right: 40px;
    height: 1px;
    background-color: #ccc;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto; /* Centered and adjusted margin */
    display: block;
    object-fit: cover;
}

.icon-section {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.bi-linkedin, .bi-github {
    color: black;
    opacity: 50%;
}
